<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindband-Alumini</title>
    <style>
        body{
            background:black;
            color:white;
        }
        a{
            font-size:40px;
            width:100%;
            color:green;
            test-align:center;
        }
    </style>
</head>
<body>
    <a href="{% url "alumini_page" %}">alumini</a>
    <br>
    <a href="{% url "faculty_page" %}">faculty</a>
</body>
</html>